{% extends "base.html" %}
  {% block base_up %} 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/css1.css' %}">
   {% endblock %}
    
  {% block base_end %} 
     <title>show data</title>
  {% endblock %}
    
    {% block content %}
    <div class="formcsv">
        <!-- <div class="alert alert-info" style="margin-bottom: 0;text-align: center;">
            Image should have extention .jpg, .jpeg or .png
        </div> -->
        <div class="jumbotron">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Profile</th>
                    </tr>
                </thead>
                {% if data %}
                <tbody>
                    {% for obj in data %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{obj.name}}</td>
                        <td>{{obj.email}}</td>
                        <td>{{obj.address}}</td>
                        <td>{{obj.phone}}</td>
                        <td>{{obj.profile}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                <div class="alert alert-danger" style="text-align: center;">
                    <strong>No Data Found</strong>
                </div>
                {% endif %}
            </table>
            <div style="text-align: right;">
                <p>
                    <a href="{% url 'upload_file' %}" class="btn btn-primary" style="margin: 5px;">Upload CSV</a>
                    <a href="{% url 'export_file' %}" class="btn btn-success" style="margin: 5px;">Download CSV</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}