{% extends "base.html" %}
 {% block base_up %} 
 {% load static %}
    <link rel="stylesheet" href="{% static 'css/css1.css' %}">
  {% endblock %}
    {% block base_end %} 
     <title>Image Uploader</title>
     {% endblock %}
    {% block content %}
    <div class="formcsv">
        <div class="alert alert-info" style="margin-bottom: 0;text-align: center;">
            Image should have extention .jpg, .jpeg or .png
        </div>
        <div class="jumbotron">
            <div class="form-header" style="text-align: center;">
                <h1>Upload Image</h1>
            </div>
            <div style="text-align: center;">
                {% if result %}
                <div class="alert alert-success" style="text-align: center;">
                    <strong>Succesfully uploaded the data</strong>
                </div>
                <p>
                    <a href="{% url 'imguploader:imageup' %}" class="btn btn-success btn-lg">Upload another Image</a>
                </p>
                {% elif error %}
                <div class="alert alert-danger" style="text-align: center;">
                    <strong>No File Selected</strong>
                </div>
                <p>
                    <a href="{% url 'imguploader:imageup' %}" class="btn btn-primary">Upload Again</a>
                </p>
                {% else %}
                <form class="site-form" action="{% url 'imguploader:imageup' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %} {{ form }}
                    <input type="submit" class="btn btn-primary" value="Upload">
                </form>
                <p style="text-align: center;">
                    <a href="{% url 'imguploader:image_list' %}" class="btn btn-success" style="margin: 20px;">See Gallery</a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
     

{% endblock %}