{% extends "base.html" %} 
{% block base_end %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<title>Gallery</title>
{% endblock %}

{% block content %}
   <h1 class="heading">Image Gallery</h1>
    <div class="gallery">
    {% for instance in object_list %}
        <div class="gallery-item">
            <img class="gallery-image" src="{{ instance.image.url }}">
            <div class="btn-middle">
                <a href="{{ instance.get_absolute_url }}" class="btn btn-primary" style="font-size: 150%;">View</a>
            </div>
        </div>
    {% endfor %}

    </div>
    <p style="text-align: end;">
        <a href="{% url 'imguploader:imageup' %}" class="btn btn-primary btn-lg" style="margin: 20px;">Upload Image</a>
    </p>
{% endblock %}